<!DOCTYPE html>
<html>
<head>
<meta charset="US-ASCII">
<title>Insert title here</title>

<button 
       class="btn btn-danger" 
                    ng-click="PageAjouterArticle()" 
                   	 >
                    ajouter article
                </button>
                   
                   <button 
                    class="btn btn-danger" 
                    ng-click="PageSupprimerArticle()" 
                    >
                   supprimer article
                </button>
<table class="table">
   <caption>toutes les commandes</caption>
   <thead>
      <tr>
         <th>client</th>
         <th>Date</th>
      </tr>
   </thead>
   {{commandes.data}} </br>
   -------------------------
   {{commandes}}
   <tbody>
         <tr ng-repeat="commande in commandes.data">
         <td>{{commande.client.mail}}</td>
         <td>{{commande.date | date:'medium'}}</td>
         <td>{{commande.num}}</td>
         <td>  <button  class="btn btn-danger" ng-click="supprimerCommande(commande)" > supprimer commande </button> </td>
      </tr>
   </tbody>
</table>