<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
 <link rel="stylesheet" href="css/style.css">
<title>page administrateur</title>
</head>
<button 
       class="btn btn-danger" 
                    ng-click="PageAjouterArticle()" 
                   	 >
                    ajouter article
                </button>
                   
                   <button 
                    class="btn btn-danger" 
                    ng-click="PageSupprimerArticle()" 
                    >
                   supprimer article
                </button>
        
<table class="table">
   <caption>toutes les commandes</caption>
   	
   <thead>
      <tr>
         <th>client</th>
         <th>Date</th>
          <th>numero commande</th>
      </tr>
   </thead>   
   <tbody>
         <tr ng-repeat="commande in commandes">
         <td>{{commande.client.mail}}</td>
         <td>{{commande.date | date:'medium'}}</td>
         <td>{{commande.num}}</td>
         <td>  <button  class="btn btn-danger" ng-click="supprimerCommande(commande)" > supprimer commande </button>
          </td>
      </tr>
      
   </tbody>
</table>