<head>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
 <link rel="stylesheet" href="css/style.css">
<title>Nouveaux Client</title>
</head>
<body>
 <section class="container">
    <div class="login">
      <h1>connection/ enregistrement de contact</h1>
      <form method="post" action="">
        <p><input type="text" ng-model=client.mail name="login" value="" placeholder="Email"></p>
        <p><input type="password" ng-model=client.motDePasse name="password" value="" placeholder="mot de passe"></p>
        <p class="submit"><input type="submit" name="commit" value="Login" ng-click="authentificationClientPreCommander(client)"></p>
      </form>
    </div>
	<div class = login-add >
	<p>
	<a ng-click="ajoutClientPrecommande()"> enregistrer contact </a>
	</p>
	</div>
  </section>
</body>