<head>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
 <link rel="stylesheet" href="css/style.css">
<title>remerciement</title>
</head>
<body>
 <div class = "container">
               
                                <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=300x150&maptype=roadmap&markers=color:blue|label:S|48.8464111,2.3548468&sensor=false" alt="location map"/>

 <div>
 en vous remerciant d'avoir fais vos achat aupres de notre societe
 vous pouvez venir recuperer votre commande 4 place Jussieu 75005 Paris, France .
 </div>
 </div>
</body>